<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Register servlet -->
    <servlet>
        <servlet-name>JsonServlet</servlet-name>
        <servlet-class>com.example.JsonServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>StudentDetails</servlet-name>
        <servlet-class>com.example.StudentDetails</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Map servlet to API URL -->
    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>/servlet_project/JsonServlet/*</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>StudentDetails</servlet-name>
        <url-pattern>/servlet_project/StudentDetails/*</url-pattern>
    </servlet-mapping>

    <!-- Optional welcome page -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>